<% unless current_user %>

  <div class="text-center fs-4">
    Para poder ocupar esta aplicación primero debes    
    <a href="<%= new_user_session_path %>">
      iniciar sesión
    </a>
  </div>

<% end %>
